.main-wrapper{
	min-width: 1500px;	
}
.header-top{
	background-color: #76c7c1;
	width: 100%;
	padding: 21px 0px 22px 0px;
	
}
.header-top-container{
	padding: 0px 167px 0px 163px;
}
.logo-wrapper{
	float: left;
}
.nav-wrapper{
	padding: 13px 0px 0px 6px;
	float: right;
	font-size: 13px;

}
.header-bottom{
	background-color: #ececec;
	width: 100%;
}
.header-bottom-container{
	padding: 34px 0 0 172px;
}