.main{
	min-width: 1500px;
}
.header{
	width: 100%;
}
.header-top{
	background-color: #76c7c1;
	padding: 21px 167px 22px 163px;
	background-image: url(../images/scale.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
}
.header-bottom{
	background-color: #ececec;

}
.header-top-container{
	padding: 0px 6px 0px 9px;

}
.header-bot-container{
	padding: 34px 167px 32px 172px;

}
.logo{
	padding-bottom: 7px;
	display: inline;
	float: left;
}
.nav{
	float: right;
	padding-right: 6px;
}
.search{
	padding-top: 13px;
	float: right;
	padding-left: 29px;
	padding-bottom: 7px;
}
.header-bot-title{
	float: left;
}
.header-bot-nav{
	float: right;
}
.body{
	background-color: #f3f3f3;
}
.body-top{
	background-color: #f3f3f3;
}
.body-top-container{
	padding: 54px 167px 75px 163px;
}
.body-top-top-title{
	padding-left: 7px;
	color: #e15349;
}
.body-top-top-paragraph{
	
}
.body-top-bot{
	padding-top: 72px;
	/*padding-bottom: 75px;*/
}
.body-top-bot-left{
	float: left;
	width: 25%;

}
.body-top-bot-left-title{
	padding: 1px 0px 32px 1px;
}
.body-top-bot-col2-right{
	float: right;
	width: 75%;


}
.body-top-bot-col2-r-right{
	float: right;
	width: 33.3333%;
}
.body-top-bot-col2-r-left{
	float: left;
	width: 66.66667%;
	/*background-color: white;*/
}
.body-top-bot-col2-r-right-title{
	padding:1px 0px 24px 21px;
}
.body-top-bot-col2-r-right-body{
	background-color: #f8f8f8;
	margin: 0px 0px 0px 24px;
	padding: 16px 16px;

}
.body-top-bot-col2-r-right-foot{
}
.body-top-bot-col2-r-left-p{
	padding: 0px 12px 63px;
}
.body-top-bot-col2-r-left-li{

}

.body-bot{
	padding: 0px 167px 0px 163px;
	background-image: url(../images/bodyscale.jpg),url(../images/bgimage.jpg);
	background-repeat: repeat-x,repeat-x;
	/*position: top,left;*/
}
.body-bot-1{
}
.body-bot-2 ul{
	
}
.body-bot-3{
	padding-top: 99px;
}
.body-bot-4{
	padding-top: 44px;
}
.body-bot-4-col3l-right{
	float: right;
}
.body-bot-4-col3l-left{
	padding: 12px 16px 12px 0px;
	float:left;
}
.body-bot-4-col3l-right-col2r-left{
	float: left;
}
.body-bot-4-col3l-right-col2r-right{
	float: right;
}
.body-bot-5{
	padding-top: 40px;
	padding-bottom: 70px;
}
.footer-bot{
	padding:0px 167px 0 163px;
}
.footer-bot-left{
	float: left;
	padding: 22px 0 18px 6px;
	font-size: 13px;
	color: #ffffff;
}
.footer-bot-right{
	float: right;
}
.footer-bot li{
	float: left;
	margin: 14px 0;
	margin-left: 25px; 
}
.footer-top{
	padding: 0 167px 34px 163px;
	background-color: #76c7c1;
	background-image: url(../images/bottomscale.jpg);
	background-repeat: repeat-x;
}
.footer-top-left{
	float: left;
	width:33.3333%;
}
.footer-top-col3left{
	float:right;
	width: 66.6667%;

}
.footer-top-col3l-left{
	float: left;
	width: 25%;

}
.footer-top-col3l-col2l{
	float: right;
	width:75%;
}
.footer-top-col3l-col2l-left{
	float: left;
	width: 33.3333%;
}
.footer-top-col3l-col2l-right{
	float: right;
	width: 66.6667%;
	padding-top: 50px;
}
/*.footer-top-col3l-col2l-right{
padding: 50px 0px 0px 23px;
}*/

/*----------------------------------------------------------------------*/
.front-box, .back-box{
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	left:0;
	top: 0;
}
.front-box{
	background-image: url(../images/hoverbg.jpg);
	background-repeat: no-repeat;
	display: none;
	
	z-index: 10;
}
.back-box{
	background-image: url(../images/imgbg.jpg);
	background-repeat: no-repeat;

}
.button{
	position: absolute;
	left: 35px;
	bottom: 0px;
	z-index: 20;
	height:54px;
	width: 200px;
	line-height: 16px;
	padding: 19px 0;
	text-align: center;
}

.back-box .button{
	background-image: url(../images/button.jpg);
	background-repeat: no-repeat;
	z-index: 5;
}
.front-box .button{
	background-image: url(../images/activebtn.jpg);
	background-repeat: no-repeat;
	z-index: 15;
}
.container{
	float: left;
	width: 271px;
	height: 100%;
	margin-right: 28px;
	position: relative;
	
}
.container:hover .front-box{
	display: block;

}